html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 
  Header CSS styles
*/
.header-nav-list {
  float: right;
}

.header-nav-list>li {
  float: left;
}

.header-nav-logo {
  float: left;
}

li {
  list-style: none;
}